<a href="https://colab.research.google.com/github/roketbilimcisi/uniodevleripython/blob/main/Pythonodevim9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL ve Python ile SQLite Kullanımı

## SQL Nedir?

SQL (Structured Query Language - Yapılandırılmış Sorgu Dili), ilişkisel veritabanları ile iletişim kurmak için kullanılan standart bir dildir. Veritabanı yönetim sistemlerinde (DBMS) verileri sorgulamak, değiştirmek, eklemek ve silmek için kullanılır. SQL, veritabanlarında veri yönetimini kolaylaştırır ve veritabanı üzerinde gerçekleştirilebilecek işlemleri belirler.

### SQL Temel İşlevleri
SQL, temel olarak dört ana işlevi yerine getirir:

#### 1. Veri Tanımlama (Data Definition Language - DDL)
Veritabanı yapısının tanımlanmasını sağlar. `CREATE`, `ALTER`, `DROP` komutları ile tablo ve veritabanı yapıları oluşturulur ve yönetilir.

**Örnek (DDL):**
```sql
CREATE TABLE Kisiler (
    id INT PRIMARY KEY,
    isim VARCHAR(100),
    yas INT
);
```
*Bu komut, `Kisiler` adlı yeni bir tablo oluşturur. `id`, `isim` ve `yas` olmak üzere üç sütun tanımlar.*

#### 2. Veri Manipülasyonu (Data Manipulation Language - DML)
Veritabanındaki verileri sorgulamak ve değiştirmek için kullanılır. `SELECT`, `INSERT`, `UPDATE`, `DELETE` komutları verileri eklemek, güncellemek, silmek ve sorgulamak için kullanılır.

**Örnek (DML):**
```sql
SELECT * FROM Kisiler;
```
*Bu komut, `Kisiler` tablosundaki tüm verileri getirir.*

#### 3. Veri Kontrolü (Data Control Language - DCL)
Veritabanına erişimi kontrol etmek için kullanılır. `GRANT`, `REVOKE` komutları ile kullanıcıların yetkileri belirlenir.

**Örnek (DCL):**
```sql
GRANT SELECT ON Kisiler TO kullanici1;
```
*Bu komut, `kullanici1` kullanıcısına `Kisiler` tablosunda sadece okuma (`SELECT`) izni verir.*

#### 4. Veri Sorgulama (Data Query Language - DQL)
Veritabanından veri almak için kullanılır. `SELECT` komutu bu işlevi yerine getirir. (Genellikle DML'in bir parçası olarak kabul edilir, ancak bazen ayrı olarak da sınıflandırılır.)

**Örnek (DQL):**
```sql
SELECT isim, yas FROM Kisiler WHERE yas > 30;
```
*Bu komut, yaşı 30'dan büyük olan kişilerin isimlerini ve yaşlarını getirir.*

## SQLite Nedir?

SQLite, sunucusuz (serverless), dosya tabanlı, ilişkisel bir veritabanı yönetim sistemidir. SQLite, veritabanı sunucu yazılımına ihtiyaç duymadan çalışır ve genellikle mobil uygulamalar, masaüstü yazılımları ve test ortamları için kullanılır. SQLite, tamamen taşınabilir bir veritabanı motorudur; çünkü tüm veriler tek bir dosyada saklanır.

### Özellikler
*   **Sunucusuz (Serverless):** SQLite, veritabanı sunucusuna ihtiyaç duymaz. Veritabanı yönetimi, yerel sistemdeki tek bir dosya üzerinden yapılır.
*   **Gömülü (Embedded):** SQLite, doğrudan uygulama ile birlikte gelir ve veritabanı motoru olarak entegre edilir. Bu, uygulamanın başka bir sunucuya bağlanmasına gerek olmadan veritabanı işlemlerini yapmasını sağlar.
*   **Hafif:** SQLite küçük bir kütüphanedir ve az kaynak kullanır. Bu nedenle düşük bellek ve işlemci gereksinimleriyle çalışabilir.
*   **Portatif:** SQLite veritabanı tüm verileri bir dosyada sakladığı için kolayca taşınabilir.

### SQLite'ın Kullanım Alanları
*   **Mobil Uygulamalar:** Android, iOS uygulamaları SQLite kullanır.
*   **Masaüstü Uygulamaları:** Çeşitli masaüstü yazılımlarında veritabanı yönetimi için kullanılır.
*   **Web Uygulamaları:** Küçük web projelerinde ya da test veritabanları olarak kullanılır.
*   **Internet of Things (IoT):** Düşük güç tüketimi ve hafifliği nedeniyle IoT cihazlarında kullanılır.

## Python ve SQLite

Python, ilişkisel veritabanı yönetim sistemi olan SQLite ile bağlantı kurmak için `sqlite3` modülünü içerir. Python'da SQLite kullanmak oldukça basittir, çünkü bu modül Python ile birlikte gelir ve ek bir kurulum gerektirmez. SQLite, veritabanı yönetimi için kullanışlı ve kolay bir yol sunar.

### SQLite ile Çalışmaya Başlamak (Temel Adımlar)

Aşağıdaki adımlar, Python'da `sqlite3` modülü ile temel veritabanı işlemlerini göstermektedir. Bu adımlar, sonraki alıştırmalar için temel oluşturacaktır.

In [ ]:
import sqlite3
print("sqlite3 modülü başarıyla import edildi.")

sqlite3 modülü başarıyla import edildi.

#### 1. Bağlantı Kurma
SQLite veritabanına bağlanmak için `sqlite3.connect()` fonksiyonu kullanılır. Bağlantı, belirtilen veritabanı dosyasına yapılır. Eğer dosya yoksa, SQLite otomatik olarak yeni bir dosya oluşturur.

In [ ]:
# Veritabanına bağlan (eğer 'test.db' yoksa oluşturulur)
conn = sqlite3.connect('test.db')
print("Veritabanına bağlantı kuruldu: test.db")

Veritabanına bağlantı kuruldu: test.db

#### 2. Cursor Oluşturma
SQLite, SQL komutlarını çalıştırabilmek için bir imleç (cursor) kullanır. Bu imleç, SQL komutlarını yürütmek ve sonuçları almak için kullanılır.

In [ ]:
# Bir cursor nesnesi oluştur
cur = conn.cursor()
print("Cursor (imleç) başarıyla oluşturuldu.")

Cursor (imleç) başarıyla oluşturuldu.

#### 3. Tablo Oluşturma (DDL)
SQL komutlarını kullanarak yeni bir tablo oluşturabiliriz.

In [ ]:
# Kisiler adında bir tablo oluştur (eğer yoksa)
cur.execute('''
CREATE TABLE IF NOT EXISTS Kisiler (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    isim TEXT NOT NULL,
    yas INTEGER
)
''')
conn.commit() # Değişiklikleri kaydet
print("'Kisiler' tablosu oluşturuldu veya zaten mevcut.")

'Kisiler' tablosu oluşturuldu veya zaten mevcut.

#### 4. Veri Ekleme (INSERT - DML)
Oluşturduğumuz tabloya veri ekleyelim.

In [ ]:
# Kisiler tablosuna veri ekle
cur.execute("INSERT INTO Kisiler (isim, yas) VALUES (?, ?)", ('Ayşe', 25))
cur.execute("INSERT INTO Kisiler (isim, yas) VALUES (?, ?)", ('Ali', 30))
conn.commit() # Değişiklikleri kaydet
print("'Ayşe' ve 'Ali' kişileri tabloya eklendi.")

'Ayşe' ve 'Ali' kişileri tabloya eklendi.

#### 5. Veri Sorgulama (SELECT - DML/DQL)
Tablodaki verileri sorgulayalım.

In [ ]:
# Kisiler tablosundaki tüm verileri seç
cur.execute("SELECT * FROM Kisiler")
rows = cur.fetchall() # Tüm satırları al

print("\nKisiler Tablosundaki Veriler:")
for row in rows:
    print(row) # Her bir satırı yazdır

Kisiler Tablosundaki Veriler:
(1, 'Ayşe', 25)
(2, 'Ali', 30)

#### 6. Veri Güncelleme (UPDATE - DML)
Tablodaki bir veriyi güncelleyelim.

In [ ]:
# 'Ayşe' isimli kişinin yaşını güncelle
cur.execute("UPDATE Kisiler SET yas = ? WHERE isim = ?", (26, 'Ayşe'))
conn.commit()
print("\n'Ayşe'nin yaşı güncellendi.")

# Güncellenmiş veriyi tekrar sorgula
cur.execute("SELECT * FROM Kisiler WHERE isim = 'Ayşe'")
updated_row = cur.fetchone()
print(f"Güncellenmiş Ayşe: {updated_row}")

'Ayşe'nin yaşı güncellendi.
Güncellenmiş Ayşe: (1, 'Ayşe', 26)

#### 7. Veri Silme (DELETE - DML)
Tablodan bir veriyi silelim.

In [ ]:
# 'Ali' isimli kişiyi sil
cur.execute("DELETE FROM Kisiler WHERE isim = ?", ('Ali',))
conn.commit()
print("\n'Ali' kişisi tablodan silindi.")

# Kalan verileri sorgula
cur.execute("SELECT * FROM Kisiler")
remaining_rows = cur.fetchall()
print("\nTabloda Kalan Veriler:")
for row in remaining_rows:
    print(row)

'Ali' kişisi tablodan silindi.

Tabloda Kalan Veriler:
(1, 'Ayşe', 26)

#### 8. Transaction Yönetimi
Veritabanında yapılan değişiklikler bir transaction içinde yapılır. `BEGIN`, `COMMIT`, `ROLLBACK` komutlarıyla yönetilebilir. `sqlite3` modülü varsayılan olarak DML ifadeleri için otomatik transaction başlatır ve `conn.commit()` ile onaylanır veya `conn.rollback()` ile geri alınır. Manuel transaction için:

In [ ]:
try:
    # Manuel transaction başlatmak için conn.execute('BEGIN') kullanılabilir
    # veya conn.isolation_level = None ayarlanıp manuel commit/rollback yapılabilir.
    # Ancak Python'un sqlite3 modülü genellikle implicit transaction yönetimi yapar.
    # conn.commit() ve conn.rollback() bu yönetim için yeterlidir.

    print("\nTransaction denemesi:")
    cur.execute("INSERT INTO Kisiler (isim, yas) VALUES (?, ?)", ('Mehmet', 30))
    print("'Mehmet' eklendi (henüz commit edilmedi)...")

    # Eğer bir hata olursa, değişiklikler geri alınacak
    # raise Exception("Bir hata oluştu, rollback testi!") # Bunu test için açabilirsiniz

    conn.commit() # Her şey yolundaysa değişiklikleri kaydet
    print("'Mehmet' için yapılan değişiklikler commit edildi.")

except Exception as e:
    print(f"Hata oluştu: {e}")
    conn.rollback() # Hata olursa, yapılan değişiklikleri geri al
    print("Değişiklikler geri alındı (rollback).")
finally:
    cur.execute("SELECT * FROM Kisiler")
    print("\nTransaction sonrası Kisiler Tablosu:")
    for row in cur.fetchall():
        print(row)

Transaction denemesi:
'Mehmet' eklendi (henüz commit edilmedi)...
'Mehmet' için yapılan değişiklikler commit edildi.

Transaction sonrası Kisiler Tablosu:
(1, 'Ayşe', 26)
(3, 'Mehmet', 30)

#### 9. Tablo Silme (DROP - DDL)
Oluşturduğumuz bir tabloyu silebiliriz.

In [ ]:
# Kisiler tablosunu sil (eğer varsa)
cur.execute("DROP TABLE IF EXISTS Kisiler")
conn.commit()
print("\n'Kisiler' tablosu silindi.")

'Kisiler' tablosu silindi.

#### 10. Bağlantıyı Kapatma
Tüm işlemler bittikten sonra veritabanı bağlantısını kapatmak iyi bir pratiktir.

In [ ]:
conn.close()
print("\nVeritabanı bağlantısı kapatıldı.")

Veritabanı bağlantısı kapatıldı.

## 50 Alıştırma Sorusu ve Çözümleri

Aşağıda SQLite ile Python kullanarak çözebileceğiniz 50 alıştırma sorusu bulunmaktadır. Sorular kolaydan zora doğru sıralanmıştır ve her birinin kodu satır satır açıklanmıştır. Bu alıştırmalar `test.db` adlı bir veritabanı ve genellikle `Kisiler` adlı bir tablo üzerinde çalışacaktır.

**Not:** Her bir alıştırma hücresini çalıştırdığınızda, veritabanı üzerinde kalıcı değişiklikler yaparsınız. Eğer alıştırmalara baştan başlamak isterseniz, yukarıdaki "Bağlantı Kurma" ve "Tablo Oluşturma" adımlarını tekrar çalıştırarak `test.db` dosyasını ve `Kisiler` tablosunu sıfırlayabilirsiniz (veya mevcut `test.db` dosyasını silip not defterini baştan çalıştırabilirsiniz).

**ÖNEMLİ:** Aşağıdaki alıştırmalar için, her bir kod bloğunun başında veritabanı bağlantısı kurulacak ve sonunda kapatılacaktır. Bu, her alıştırmanın bağımsız çalışabilmesini sağlar.

### 11. Kisiler Tablosuna Yeni Kayıt Ekleme

In [ ]:
import sqlite3

# Veritabanına bağlan
conn = sqlite3.connect('test.db')
cur = conn.cursor()

# Gerekirse tabloyu oluştur
cur.execute('''
CREATE TABLE IF NOT EXISTS Kisiler (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    isim TEXT NOT NULL,
    yas INTEGER
)
''')
conn.commit()

# Yeni veri ekleyin (Fatma, 25 yaşında)
cur.execute('INSERT INTO Kisiler (isim, yas) VALUES (?, ?)', ('Fatma', 25))
conn.commit()

# Ekleme işlemini yazdır
print("Fatma, 25 yaşında eklendi.")

# Veritabanı bağlantısını kapat
conn.close()

Fatma, 25 yaşında eklendi.

**Açıklama:** Bu kod, `Fatma` ismini ve 25 yaşını `Kisiler` tablosuna ekler. Eğer tablo yoksa, önce oluşturulur.

### 12. Kisiler Tablosundaki Tüm Verileri Sorgulama

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

# Gerekirse tabloyu oluştur (önceki adımdan kalmış olabilir)
cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Tüm verileri sorgula
cur.execute('SELECT * FROM Kisiler')
rows = cur.fetchall()

print("Kisiler Tablosundaki Tüm Veriler:")
for row in rows:
    print(row)

conn.close()

Kisiler Tablosundaki Tüm Veriler:
(1, 'Fatma', 25)

**Açıklama:** Bu sorgu, `Kisiler` tablosundaki tüm verileri getirir ve ekrana yazdırır.

### 13. Kisiler Tablosundaki Kayıtları Yaşa Göre Sıralama

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
# Örnek veriler ekleyelim (eğer boşsa)
cur.execute("SELECT COUNT(*) FROM Kisiler")
if cur.fetchone()[0] < 2: # En az 2 kayıt yoksa ekle
    sample_data = [('Ali', 30), ('Veli', 22), ('Ayşe', 28)]
    cur.executemany("INSERT INTO Kisiler (isim, yas) VALUES (?,?)", sample_data)
    conn.commit()

# Yaşa göre sıralama (artan sırada)
cur.execute('SELECT * FROM Kisiler ORDER BY yas ASC') # ASC (artan) varsayılandır, belirtilmeyebilir
rows = cur.fetchall()

print("Kişiler Yaşa Göre Artan Sırada:")
for row in rows:
    print(row)

conn.close()

Kişiler Yaşa Göre Artan Sırada:
(3, 'Veli', 22)
(1, 'Fatma', 25)
(4, 'Ayşe', 28)
(2, 'Ali', 30)

**Açıklama:** Bu sorgu, `Kisiler` tablosundaki verileri `yas` sütununa göre artan sırada sıralar.

### 14. Kisiler Tablosunda Belirli Bir Yaşın Altındaki Kişileri Sorgulama

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Yaşı 30'dan küçük olanları sorgula
cur.execute('SELECT * FROM Kisiler WHERE yas < ?', (30,))
rows = cur.fetchall()

print("Yaşı 30'dan Küçük Olan Kişiler:")
for row in rows:
    print(row)

conn.close()

Yaşı 30'dan Küçük Olan Kişiler:
(1, 'Fatma', 25)
(3, 'Veli', 22)
(4, 'Ayşe', 28)

**Açıklama:** Bu sorgu, `yas` değeri 30'dan küçük olan kayıtları getirir.

### 15. Kisiler Tablosuna Yeni Veri Ekleme ve Kimlik Numarasını (ID) Almak

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Yeni veri ekleyin (Mehmet, 28 yaşında)
cur.execute('INSERT INTO Kisiler (isim, yas) VALUES (?, ?)', ('Mehmet', 28))
conn.commit()

# Son eklenen kaydın id'sini al (AUTOINCREMENT için geçerli)
last_id = cur.lastrowid
print(f"Mehmet eklendi. Son eklenen kaydın ID'si: {last_id}")

conn.close()

Mehmet eklendi. Son eklenen kaydın ID'si: 5

**Açıklama:** Bu kod, yeni bir kayıt ekler ve `cur.lastrowid` özelliği ile bu kayda otomatik olarak atanan `id` değerini alır.

### 16. Kisiler Tablosunda Bir Kaydın Yaşını Güncelleme

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# 'Mehmet' ismindeki kişinin yaşını 35 yap
cur.execute('UPDATE Kisiler SET yas = ? WHERE isim = ?', (35, 'Mehmet'))
conn.commit()

# Güncelleme işlemi yazdır
print("Mehmet'in yaşı 35 olarak güncellendi.")

# Kontrol için Mehmet'in verilerini çekelim
cur.execute("SELECT * FROM Kisiler WHERE isim = 'Mehmet'")
print(f"Güncel Mehmet: {cur.fetchone()}")

conn.close()

Mehmet'in yaşı 35 olarak güncellendi.
Güncel Mehmet: (5, 'Mehmet', 35)

**Açıklama:** Bu kod, `Mehmet` ismindeki kişinin yaşını 35 olarak günceller.

### 17. Kisiler Tablosunda Yaşı 30'dan Büyük Olan Kişilerin Sayısını Almak

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Yaşı 30'dan büyük olanların sayısını al
cur.execute('SELECT COUNT(*) FROM Kisiler WHERE yas > ?', (30,))
count = cur.fetchone()[0] # fetchone() bir tuple döndürür, ilk elemanı sayıdır

print(f"Yaşı 30'dan büyük olan kişi sayısı: {count}")

conn.close()

Yaşı 30'dan büyük olan kişi sayısı: 1

**Açıklama:** Bu sorgu, `Kisiler` tablosunda yaşı 30'dan büyük olan kişi sayısını `COUNT(*)` fonksiyonu ile getirir.

### 18. Kisiler Tablosunda Bir Kayıt Silme

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# 'Mehmet' ismindeki kişiyi sil (eğer varsa)
cur.execute('DELETE FROM Kisiler WHERE isim = ?', ('Mehmet',))
conn.commit()

# Silme işlemi yazdır
print("Mehmet kaydı (varsa) silindi.")

conn.close()

Mehmet kaydı (varsa) silindi.

**Açıklama:** Bu kod, `Mehmet` ismindeki kişiyi (eğer tabloda varsa) `Kisiler` tablosundan siler.

### 19. Kisiler Tablosunda Yaşı En Büyük Kişiyi Sorgulama

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# En yaşlı kişiyi sorgula
cur.execute('SELECT * FROM Kisiler ORDER BY yas DESC LIMIT 1')
row = cur.fetchone() # Tek bir satır al

if row:
    print(f"Yaşı en büyük kişi: {row}")
else:
    print("Tabloda hiç kayıt yok.")

conn.close()

Yaşı en büyük kişi: (2, 'Ali', 30)

**Açıklama:** Bu sorgu, kişileri yaşa göre azalan sırada (`DESC`) sıralar ve `LIMIT 1` ile sadece en üstteki (yani en yaşlı) kişiyi getirir.

### 20. Kisiler Tablosunda Tüm Kayıtları Sıralamak (Önce Yaşa Göre Azalan, Sonra İsme Göre Artan)

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
# Örnek veri ekleyelim
cur.execute("SELECT COUNT(*) FROM Kisiler")
if cur.fetchone()[0] < 3:
    cur.execute("DELETE FROM Kisiler") # Önce temizle
    sample_data = [('Zeynep', 30), ('Ahmet', 22), ('Bora', 30), ('Canan', 22)]
    cur.executemany("INSERT INTO Kisiler (isim, yas) VALUES (?,?)", sample_data)
conn.commit()

# Önce yaşa göre azalan, sonra isme göre artan sırada sırala
cur.execute('SELECT id, isim, yas FROM Kisiler ORDER BY yas DESC, isim ASC')
rows = cur.fetchall()

print("Yaş (azalan) ve İsim (artan) Sırasına Göre Kişiler:")
for row in rows:
    print(row)

conn.close()

Yaş (azalan) ve İsim (artan) Sırasına Göre Kişiler:
(2, 'Ali', 30)
(4, 'Ayşe', 28)
(1, 'Fatma', 25)
(3, 'Veli', 22)

**Açıklama:** Bu sorgu, kişileri önce yaşlarına göre azalan sırada sıralar. Aynı yaşta olan kişiler varsa, bu kişiler de kendi aralarında isimlerine göre artan sırada sıralanır.

### 21. Kisiler Tablosunda Belirli Bir Kişiyle Aynı Yaşta Olan Diğer Kişileri Sorgulama

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Örnek: 'Bora' ile aynı yaşta olan diğer kişileri sorgula (Bora'nın kendisi hariç)
referans_isim = 'Bora'
cur.execute('''
    SELECT isim, yas
    FROM Kisiler
    WHERE yas = (SELECT yas FROM Kisiler WHERE isim = ?)
    AND isim != ?
''', (referans_isim, referans_isim))
rows = cur.fetchall()

print(f"'{referans_isim}' ile Aynı Yaşta Olan Diğer Kişiler:")
if rows:
    for row in rows:
        print(row)
else:
    print(f"'{referans_isim}' ile aynı yaşta başka kimse bulunamadı veya '{referans_isim}' tabloda yok.")

conn.close()

'Bora' ile Aynı Yaşta Olan Diğer Kişiler:
'Bora' ile aynı yaşta başka kimse bulunamadı veya 'Bora' tabloda yok.

**Açıklama:** Bu sorgu, bir alt sorgu (`SELECT yas FROM Kisiler WHERE isim = ?`) kullanarak referans kişinin yaşını bulur. Ana sorgu, bu yaşla aynı yaşta olan ve ismi referans isminden farklı olan kişileri listeler.

### 22. Kisiler Tablosunda İsimlerinin İlk Harfi Belirli Bir Harf Olan Kişileri Sorgulama

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# İsimlerinin ilk harfi 'A' olanları sorgula
harf = 'A'
cur.execute('SELECT isim, yas FROM Kisiler WHERE isim LIKE ?', (harf + '%',))
rows = cur.fetchall()

print(f"İsmi '{harf}' ile Başlayan Kişiler:")
if rows:
    for row in rows:
        print(row)
else:
    print(f"İsmi '{harf}' ile başlayan kimse bulunamadı.")

conn.close()

İsmi 'A' ile Başlayan Kişiler:
('Ali', 30)
('Ayşe', 28)

**Açıklama:** `LIKE` operatörü ve `%` joker karakteri kullanılır. `A%` ifadesi, 'A' harfi ile başlayan herhangi bir metni ifade eder.

### 23. Kisiler Tablosuna Birden Fazla Kaydı Tek Seferde Ekleme

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Eklenecek veriler (demetlerden oluşan bir liste)
yeni_kisiler = [
    ('Burak', 32),
    ('Deniz', 27),
    ('Elif', 35)
]

cur.executemany('INSERT INTO Kisiler (isim, yas) VALUES (?, ?)', yeni_kisiler)
conn.commit()

print(f"{len(yeni_kisiler)} adet yeni kişi başarıyla eklendi.")

# Kontrol edelim
cur.execute("SELECT * FROM Kisiler WHERE isim IN ('Burak', 'Deniz', 'Elif')")
print("Eklenen Yeni Kişiler:")
for row in cur.fetchall():
    print(row)

conn.close()

3 adet yeni kişi başarıyla eklendi.
Eklenen Yeni Kişiler:
(6, 'Burak', 32)
(7, 'Deniz', 27)
(8, 'Elif', 35)

**Açıklama:** `executemany()` metodu, bir SQL komutunu bir dizi parametre ile birden çok kez çalıştırmak için kullanılır. Bu, toplu ekleme işlemleri için verimlidir.

### 24. Kisiler Tablosunda Yaşı En Küçük Kişiyi Sorgulama

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# En küçük yaşa sahip kişiyi sorgula
cur.execute('SELECT * FROM Kisiler ORDER BY yas ASC LIMIT 1')
row = cur.fetchone()

if row:
    print(f"Yaşı en küçük kişi: {row}")
else:
    print("Tabloda hiç kayıt yok.")

conn.close()

Yaşı en küçük kişi: (3, 'Veli', 22)

**Açıklama:** Bu sorgu, kişileri yaşa göre artan sırada (`ASC`) sıralar ve `LIMIT 1` ile sadece en üstteki (yani en genç) kişiyi getirir.

### 25. Kisiler Tablosunda Yaşları Belirli Bir Aralıkta Olanları Sorgulama

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Yaşı 20 ile 30 (dahil) arasında olanları sorgula
min_yas = 20
max_yas = 30
cur.execute('SELECT * FROM Kisiler WHERE yas BETWEEN ? AND ?', (min_yas, max_yas))
rows = cur.fetchall()

print(f"Yaşı {min_yas} ile {max_yas} Arasında Olan Kişiler:")
if rows:
    for row in rows:
        print(row)
else:
    print(f"Belirtilen yaş aralığında kimse bulunamadı.")

conn.close()

Yaşı 20 ile 30 Arasında Olan Kişiler:
(1, 'Fatma', 25)
(2, 'Ali', 30)
(3, 'Veli', 22)
(4, 'Ayşe', 28)
(7, 'Deniz', 27)

**Açıklama:** `BETWEEN` operatörü, bir değerin belirli bir aralıkta (sınırlar dahil) olup olmadığını kontrol etmek için kullanılır.

### 26. Kisiler Tablosunda Yaşların Ortalamasını Almak

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Yaşların ortalamasını al
cur.execute('SELECT AVG(yas) FROM Kisiler')
average_age_tuple = cur.fetchone()

if average_age_tuple and average_age_tuple[0] is not None:
    average_age = average_age_tuple[0]
    print(f"Kişilerin ortalama yaşı: {average_age:.2f}")
else:
    print("Ortalama yaş hesaplanamadı (tablo boş olabilir veya yaş bilgisi eksik).")

conn.close()

Kişilerin ortalama yaşı: 28.43

**Açıklama:** `AVG()` SQL fonksiyonu, belirtilen sütundaki değerlerin ortalamasını hesaplar.

### 27. Kisiler Tablosunda Her Yaş İçin Kişi Sayısını Almak

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Her yaş için kişi sayısını al
cur.execute('SELECT yas, COUNT(*) FROM Kisiler GROUP BY yas ORDER BY yas')
rows = cur.fetchall()

print("Her Yaş İçin Kişi Sayısı:")
if rows:
    for row in rows:
        print(f"Yaş: {row[0]}, Kişi Sayısı: {row[1]}")
else:
    print("Tabloda veri yok.")

conn.close()

Her Yaş İçin Kişi Sayısı:
Yaş: 22, Kişi Sayısı: 1
Yaş: 25, Kişi Sayısı: 1
Yaş: 27, Kişi Sayısı: 1
Yaş: 28, Kişi Sayısı: 1
Yaş: 30, Kişi Sayısı: 1
Yaş: 32, Kişi Sayısı: 1
Yaş: 35, Kişi Sayısı: 1

**Açıklama:** `GROUP BY yas` ifadesi, kayıtları yaşlarına göre gruplar. `COUNT(*)` ise her gruptaki kayıt sayısını verir.

### 28. Kisiler Tablosunda En Fazla Kişiye Sahip Yaşı Sorgulama

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# En fazla kişiye sahip yaşı sorgula
cur.execute('''
    SELECT yas, COUNT(*) as kisi_sayisi
    FROM Kisiler
    GROUP BY yas
    ORDER BY kisi_sayisi DESC
    LIMIT 1
''')
row = cur.fetchone()

print("En Fazla Kişiye Sahip Yaş Bilgisi:")
if row:
    print(f"Yaş: {row[0]}, Kişi Sayısı: {row[1]}")
else:
    print("Tabloda veri yok.")

conn.close()

En Fazla Kişiye Sahip Yaş Bilgisi:
Yaş: 35, Kişi Sayısı: 1

**Açıklama:** Önce yaşa göre gruplama yapılır ve her yaşın kişi sayısı (`kisi_sayisi` olarak adlandırılır) bulunur. Sonra sonuçlar kişi sayısına göre azalan sırada sıralanır ve `LIMIT 1` ile en çok kişiye sahip yaş grubu alınır.

### 29. Kisiler Tablosunda Farklı (Benzersiz) Yaşlar İçin Verileri Seçme

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Farklı (benzersiz) yaşları seç
cur.execute('SELECT DISTINCT yas FROM Kisiler ORDER BY yas')
rows = cur.fetchall()

print("Tablodaki Farklı Yaşlar:")
if rows:
    for row in rows:
        print(row[0]) # Her bir tuple'ın ilk elemanı yaş değeridir
else:
    print("Tabloda veri yok veya yaş bilgisi eksik.")

conn.close()

Tablodaki Farklı Yaşlar:
22
25
27
28
30
32
35

**Açıklama:** `SELECT DISTINCT yas` ifadesi, `yas` sütunundaki tekrarlayan değerleri kaldırarak sadece benzersiz yaşları getirir.

### 30. Kisiler Tablosunda Yaşlarını Artan Sırada İsimleri Yazdırma

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Yaşlarına göre artan sırada isimleri yazdır
cur.execute('SELECT isim, yas FROM Kisiler ORDER BY yas ASC')
rows = cur.fetchall()

print("Yaşlarına Göre Artan Sırada İsimler (ve Yaşları):")
if rows:
    for row in rows:
        print(f"İsim: {row[0]}, Yaş: {row[1]}")
else:
    print("Tabloda veri yok.")

conn.close()

Yaşlarına Göre Artan Sırada İsimler (ve Yaşları):
İsim: Veli, Yaş: 22
İsim: Fatma, Yaş: 25
İsim: Deniz, Yaş: 27
İsim: Ayşe, Yaş: 28
İsim: Ali, Yaş: 30
İsim: Burak, Yaş: 32
İsim: Elif, Yaş: 35

**Açıklama:** Bu sorgu, `Kisiler` tablosundaki isimleri (ve yaşlarını) kişilerin yaşlarına göre artan sırayla listeler.

### 31. Kisiler Tablosunda İsimleri Belirli İki Harfle Başlayan Kişileri Sorgulama

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# İsimleri 'Al' harfleriyle başlayanları sorgula
baslangic = 'Al'
cur.execute('SELECT * FROM Kisiler WHERE isim LIKE ?', (baslangic + '%',))
rows = cur.fetchall()

print(f"İsimleri '{baslangic}' ile Başlayan Kişiler:")
if rows:
    for row in rows:
        print(row)
else:
    print(f"İsimleri '{baslangic}' ile başlayan kimse bulunamadı.")

conn.close()

İsimleri 'Al' ile Başlayan Kişiler:
(2, 'Ali', 30)

**Açıklama:** `LIKE 'Al%'` ifadesi, isimleri 'Al' ile başlayan tüm kişileri getirir.

### 32. Kisiler Tablosunda İsimlerinin Sonu Belirli Bir Harfle Biten Kişileri Sorgulama

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# İsimleri 'e' harfiyle biten kişileri sorgula
son_harf = 'e'
cur.execute('SELECT * FROM Kisiler WHERE isim LIKE ?', ('%' + son_harf,))
rows = cur.fetchall()

print(f"İsimleri '{son_harf}' ile Biten Kişiler:")
if rows:
    for row in rows:
        print(row)
else:
    print(f"İsimleri '{son_harf}' ile biten kimse bulunamadı.")

conn.close()

İsimleri 'e' ile Biten Kişiler:
(4, 'Ayşe', 28)

**Açıklama:** `LIKE '%e'` ifadesi, isimleri 'e' harfiyle biten tüm kişileri getirir.

### 33. Kisiler Tablosunda Bir Kişinin Hem İsmini Hem Yaşını Güncelleme

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
# Örnek olarak 'Ali' kişisini ekleyelim (eğer yoksa)
cur.execute("INSERT OR IGNORE INTO Kisiler (isim, yas) VALUES (?, ?)", ('Ali', 30))
conn.commit()

# 'Ali' ismindeki kişinin ismini 'Ali Veli' ve yaşını 40 olarak güncelle
eski_isim = 'Ali'
yeni_isim = 'Ali Veli'
yeni_yas = 40
cur.execute('UPDATE Kisiler SET isim = ?, yas = ? WHERE isim = ?', (yeni_isim, yeni_yas, eski_isim))
conn.commit()

print(f"'{eski_isim}' adlı kişinin ismi '{yeni_isim}' ve yaşı {yeni_yas} olarak güncellendi.")

# Kontrol edelim
cur.execute("SELECT * FROM Kisiler WHERE isim = ?", (yeni_isim,))
print(f"Güncellenmiş kayıt: {cur.fetchone()}")

conn.close()

'Ali' adlı kişinin ismi 'Ali Veli' ve yaşı 40 olarak güncellendi.
Güncellenmiş kayıt: (2, 'Ali Veli', 40)

**Açıklama:** Bu sorgu, `UPDATE` komutu ile `Ali` ismindeki kişinin hem `isim` hem de `yas` sütunlarını günceller.

### 34. Kisiler Tablosunda Aynı İsimli (Birden Fazla Olan) Kişilerin Sayısını Almak

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
# Örnek: Aynı isimli kişiler ekleyelim
cur.execute("INSERT OR IGNORE INTO Kisiler (isim, yas) VALUES (?,?)", ('Can', 25))
cur.execute("INSERT OR IGNORE INTO Kisiler (isim, yas) VALUES (?,?)", ('Can', 35))
conn.commit()

# Aynı isme sahip (birden fazla olan) kişileri ve sayılarını al
cur.execute('''
    SELECT isim, COUNT(*) as sayi
    FROM Kisiler
    GROUP BY isim
    HAVING COUNT(*) > 1
''')
rows = cur.fetchall()

print("Aynı İsme Sahip (Birden Fazla Olan) Kişiler ve Sayıları:")
if rows:
    for row in rows:
        print(f"İsim: {row[0]}, Sayı: {row[1]}")
else:
    print("Aynı isme sahip birden fazla kişi bulunamadı.")

conn.close()

Aynı İsme Sahip (Birden Fazla Olan) Kişiler ve Sayıları:
İsim: Ali Veli, Sayı: 2
İsim: Can, Sayı: 2

**Açıklama:** `GROUP BY isim` ile isimlere göre gruplama yapılır. `HAVING COUNT(*) > 1` koşulu ile sadece birden fazla kez geçen isimler (yani aynı isme sahip farklı kayıtlar) ve bu isimlerin kaç kez geçtiği listelenir.

### 35. Kisiler Tablosunda Yaşı Belirli Bir Aralıkta Olanların Sadece İsimlerini Almak

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Yaşı 20 ile 30 arasında olanların sadece isimlerini al
min_yas_aralik = 20
max_yas_aralik = 30
cur.execute('SELECT isim FROM Kisiler WHERE yas BETWEEN ? AND ? ORDER BY isim', (min_yas_aralik, max_yas_aralik))
rows = cur.fetchall()

print(f"Yaşı {min_yas_aralik} ile {max_yas_aralik} Arasında Olan Kişilerin İsimleri:")
if rows:
    for row in rows:
        print(row[0])
else:
    print("Belirtilen yaş aralığında kimse bulunamadı.")

conn.close()

Yaşı 20 ile 30 Arasında Olan Kişilerin İsimleri:
Ayşe
Can
Deniz
Fatma
Veli

**Açıklama:** Bu sorgu, yaşı 20 ile 30 (dahil) arasında olan kişilerin sadece `isim` sütununu getirir ve sonuçları isme göre sıralar.

### 36. Kisiler Tablosunda Yaş Ortalamasının Üzerinde Yaşa Sahip Kişileri Listeleme

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Yaş ortalamasının üzerinde yaşa sahip kişileri listele
cur.execute('SELECT * FROM Kisiler WHERE yas > (SELECT AVG(yas) FROM Kisiler)')
rows = cur.fetchall()

print("Yaş Ortalamasının Üzerinde Olan Kişiler:")
if rows:
    for row in rows:
        print(row)
else:
    print("Yaş ortalamasının üzerinde kimse bulunamadı veya tablo boş.")

conn.close()

Yaş Ortalamasının Üzerinde Olan Kişiler:
(2, 'Ali Veli', 40)
(6, 'Burak', 32)
(8, 'Elif', 35)
(9, 'Ali Veli', 40)
(11, 'Can', 35)

**Açıklama:** Alt sorgu `(SELECT AVG(yas) FROM Kisiler)` ile tüm kişilerin yaş ortalaması hesaplanır. Ana sorgu, yaşı bu ortalamadan büyük olan kişileri listeler.

### 37. Kisiler Tablosunda Yaşı En Yüksek Olan Kişiyi (veya Kişileri) Sorgulama

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Yaşı en yüksek olan kişiyi (veya kişileri, birden fazla ise) sorgula
cur.execute('SELECT * FROM Kisiler WHERE yas = (SELECT MAX(yas) FROM Kisiler)')
rows = cur.fetchall()

print("Yaşı En Yüksek Olan Kişi(ler):")
if rows:
    for row in rows:
        print(row)
else:
    print("Tabloda veri yok.")

conn.close()

Yaşı En Yüksek Olan Kişi(ler):
(2, 'Ali Veli', 40)
(9, 'Ali Veli', 40)

**Açıklama:** Alt sorgu `(SELECT MAX(yas) FROM Kisiler)` ile tablodaki en yüksek yaş bulunur. Ana sorgu, bu en yüksek yaşa sahip olan tüm kişileri listeler (eğer birden fazla kişi aynı en yüksek yaşa sahipse hepsi gelir).

### 38. Kisiler Tablosunda Yaşları Belirli Bir Değerden Büyük Olanları Silmek

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Yaşı 40'tan büyük olan kişileri sil
yas_siniri = 40
cur.execute('DELETE FROM Kisiler WHERE yas > ?', (yas_siniri,))
deleted_rows = cur.rowcount # Kaç satırın etkilendiğini verir
conn.commit()

print(f"Yaşı {yas_siniri}'tan büyük olan {deleted_rows} kişi silindi.")

conn.close()

Yaşı 40'tan büyük olan 0 kişi silindi.

**Açıklama:** Bu sorgu, yaşı 40'tan büyük olan tüm kişileri `Kisiler` tablosundan siler. `cur.rowcount` silinen satır sayısını verir.

### 39. Kisiler Tablosunda Sadece İsimleri Farklı (Benzersiz) Olan Kişileri Sorgulamak (ID ve Yaş Dikkate Alınmadan)

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Sadece isimleri farklı olanları (benzersiz isimleri) sorgula
cur.execute('SELECT DISTINCT isim FROM Kisiler ORDER BY isim')
rows = cur.fetchall()

print("Tablodaki Farklı İsimler:")
if rows:
    for row in rows:
        print(row[0])
else:
    print("Tabloda hiç isim bulunamadı.")

conn.close()

Tablodaki Farklı İsimler:
Ali Veli
Ayşe
Burak
Can
Deniz
Elif
Fatma
Veli

**Açıklama:** `SELECT DISTINCT isim` ifadesi, `isim` sütunundaki tekrarlayan değerleri dikkate almadan sadece benzersiz isimleri listeler.

### 40. Kisiler Tablosunda Yaşı Belirli Bir Değerden Küçük Olan Kişilerin Sayısını Almak

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Yaşı 35'ten küçük olan kişilerin sayısını al
yas_ust_sinir = 35
cur.execute('SELECT COUNT(*) FROM Kisiler WHERE yas < ?', (yas_ust_sinir,))
count_kucuk = cur.fetchone()[0]

print(f"Yaşı {yas_ust_sinir}'ten küçük olan kişi sayısı: {count_kucuk}")

conn.close()

Yaşı 35'ten küçük olan kişi sayısı: 6

**Açıklama:** Bu sorgu, `Kisiler` tablosunda yaşı 35'ten küçük olan kişi sayısını verir.

### 41. Kisiler Tablosunda İsimleri Tersine Alfabetik Sırada Listeleme

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# İsimleri tersine alfabetik sırada (Z'den A'ya) sorgula
cur.execute('SELECT isim, yas FROM Kisiler ORDER BY isim DESC')
rows = cur.fetchall()

print("İsimler Tersine Alfabetik Sırada:")
if rows:
    for row in rows:
        print(f"İsim: {row[0]}, Yaş: {row[1]}")
else:
    print("Tabloda veri yok.")

conn.close()

İsimler Tersine Alfabetik Sırada:
İsim: Veli, Yaş: 22
İsim: Fatma, Yaş: 25
İsim: Elif, Yaş: 35
İsim: Deniz, Yaş: 27
İsim: Can, Yaş: 25
İsim: Can, Yaş: 35
İsim: Burak, Yaş: 32
İsim: Ayşe, Yaş: 28
İsim: Ali Veli, Yaş: 40
İsim: Ali Veli, Yaş: 40

**Açıklama:** `ORDER BY isim DESC` ifadesi, `Kisiler` tablosundaki kayıtları `isim` sütununa göre azalan (ters alfabetik) sırada sıralar.

### 42. Kisiler Tablosunda İsimleri Aynı Olan Kişilerin Sayısını (Her İsim İçin Ayrı) Hesaplamak

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Aynı isme sahip kişilerin sayısını (her isim için ayrı ayrı) hesapla
cur.execute('''
    SELECT isim, COUNT(*) as tekrar_sayisi
    FROM Kisiler
    GROUP BY isim
    ORDER BY tekrar_sayisi DESC, isim ASC
''')
rows = cur.fetchall()

print("Her İsmin Tekrar Sayısı:")
if rows:
    for row in rows:
        print(f"İsim: {row[0]}, Tekrar Sayısı: {row[1]}")
else:
    print("Tabloda veri yok.")

conn.close()

Her İsmin Tekrar Sayısı:
İsim: Ali Veli, Tekrar Sayısı: 2
İsim: Can, Tekrar Sayısı: 2
İsim: Ayşe, Tekrar Sayısı: 1
İsim: Burak, Tekrar Sayısı: 1
İsim: Deniz, Tekrar Sayısı: 1
İsim: Elif, Tekrar Sayısı: 1
İsim: Fatma, Tekrar Sayısı: 1
İsim: Veli, Tekrar Sayısı: 1

**Açıklama:** Bu sorgu, `Kisiler` tablosundaki her bir ismin kaç kez geçtiğini (yani aynı isme sahip kaç kişi olduğunu) sayar ve sonuçları tekrar sayısına göre azalan, sonra da isme göre artan sırada listeler.

### 43. Kisiler Tablosunda İlk N Kişiyi Sorgulamak (Örn: İlk 5 Kişi)

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# İlk 5 kişiyi sorgula (varsayılan ID sırasına göre)
limit_sayisi = 5
cur.execute('SELECT * FROM Kisiler LIMIT ?', (limit_sayisi,))
rows = cur.fetchall()

print(f"Tablodaki İlk {limit_sayisi} Kişi:")
if rows:
    for row in rows:
        print(row)
else:
    print("Tabloda yeterli sayıda veya hiç kayıt yok.")

conn.close()

Tablodaki İlk 5 Kişi:
(1, 'Fatma', 25)
(2, 'Ali Veli', 40)
(3, 'Veli', 22)
(4, 'Ayşe', 28)
(6, 'Burak', 32)

**Açıklama:** `LIMIT 5` ifadesi, sorgu sonucunda en fazla 5 kaydın getirilmesini sağlar. Eğer belirli bir sıralama isteniyorsa `ORDER BY` ifadesi `LIMIT`'ten önce kullanılmalıdır.

### 44. Kisiler Tablosunda Yaşları Belirli İki Değer Arasında (Örn: 30-40) Olanları Sorgulamak

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Yaşı 30 ile 40 (dahil) arasında olanları sorgula
yas_alt = 30
yas_ust = 40
cur.execute('SELECT * FROM Kisiler WHERE yas >= ? AND yas <= ? ORDER BY yas', (yas_alt, yas_ust))
# Alternatif: cur.execute('SELECT * FROM Kisiler WHERE yas BETWEEN ? AND ?', (yas_alt, yas_ust))
rows = cur.fetchall()

print(f"Yaşı {yas_alt} ile {yas_ust} Arasında Olan Kişiler:")
if rows:
    for row in rows:
        print(row)
else:
    print("Belirtilen yaş aralığında kimse bulunamadı.")

conn.close()

Yaşı 30 ile 40 Arasında Olan Kişiler:
(6, 'Burak', 32)
(8, 'Elif', 35)
(11, 'Can', 35)
(2, 'Ali Veli', 40)
(9, 'Ali Veli', 40)

**Açıklama:** Bu sorgu, yaşı 30 (dahil) ile 40 (dahil) arasında olan kişileri getirir. `BETWEEN` operatörü de aynı amaçla kullanılabilir.

### 45. Kisiler Tablosunda Yaşları Belirli Bir Değerden Küçük Olanları Silmek

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Yaşı 20'den küçük olanları sil
yas_silme_siniri = 20
cur.execute('DELETE FROM Kisiler WHERE yas < ?', (yas_silme_siniri,))
silinen_satir_sayisi_kucuk = cur.rowcount
conn.commit()

print(f"Yaşı {yas_silme_siniri}'den küçük olan {silinen_satir_sayisi_kucuk} kişi silindi.")

conn.close()

Yaşı 20'den küçük olan 0 kişi silindi.

**Açıklama:** Bu sorgu, yaşı 20'den küçük olan tüm kişileri `Kisiler` tablosundan siler.

### 46. Kisiler Tablosunda İsimlerin Karakter Sayısını Hesaplama

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# İsimlerin karakter sayısını (uzunluğunu) hesapla
cur.execute('SELECT isim, LENGTH(isim) as karakter_sayisi FROM Kisiler')
rows = cur.fetchall()

print("İsimler ve Karakter Sayıları:")
if rows:
    for row in rows:
        print(f"İsim: {row[0]}, Karakter Sayısı: {row[1]}")
else:
    print("Tabloda veri yok.")

conn.close()

İsimler ve Karakter Sayıları:
İsim: Fatma, Karakter Sayısı: 5
İsim: Ali Veli, Karakter Sayısı: 8
İsim: Veli, Karakter Sayısı: 4
İsim: Ayşe, Karakter Sayısı: 4
İsim: Burak, Karakter Sayısı: 5
İsim: Deniz, Karakter Sayısı: 5
İsim: Elif, Karakter Sayısı: 4
İsim: Ali Veli, Karakter Sayısı: 8
İsim: Can, Karakter Sayısı: 3
İsim: Can, Karakter Sayısı: 3

**Açıklama:** `LENGTH(isim)` SQL fonksiyonu, `isim` sütunundaki her bir metnin karakter uzunluğunu hesaplar.

### 47. Kisiler Tablosunda Yaşları Belirli Bir Değerden Büyük VE İsimleri Belirli Bir Harfle Başlayanları Sorgulamak

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Yaşı 20'den büyük VE ismi 'A' ile başlayanları sorgula
yas_kosulu = 20
isim_baslangic_kosulu = 'A'
cur.execute('SELECT * FROM Kisiler WHERE yas > ? AND isim LIKE ?', (yas_kosulu, isim_baslangic_kosulu + '%'))
rows = cur.fetchall()

print(f"Yaşı {yas_kosulu}'den Büyük ve İsmi '{isim_baslangic_kosulu}' ile Başlayan Kişiler:")
if rows:
    for row in rows:
        print(row)
else:
    print("Belirtilen koşullara uyan kimse bulunamadı.")

conn.close()

Yaşı 20'den Büyük ve İsmi 'A' ile Başlayan Kişiler:
(2, 'Ali Veli', 40)
(4, 'Ayşe', 28)
(9, 'Ali Veli', 40)

**Açıklama:** `AND` operatörü ile birden fazla koşul birleştirilir. Bu sorgu, yaşı 20'den büyük olan *ve aynı zamanda* ismi 'A' harfi ile başlayan kişileri getirir.

### 48. Kisiler Tablosunda Yaşları Belirli Bir Aralıkta Olanları Silmek

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Yaşı 30 ile 50 (dahil) arasında olanları sil
sil_yas_alt = 30
sil_yas_ust = 50
cur.execute('DELETE FROM Kisiler WHERE yas BETWEEN ? AND ?', (sil_yas_alt, sil_yas_ust))
silinen_aralik_sayisi = cur.rowcount
conn.commit()

print(f"Yaşı {sil_yas_alt} ile {sil_yas_ust} arasında olan {silinen_aralik_sayisi} kişi silindi.")

conn.close()

Yaşı 30 ile 50 arasında olan 5 kişi silindi.

**Açıklama:** Bu sorgu, yaşı 30 ile 50 (dahil) arasında olan tüm kişileri `Kisiler` tablosundan siler.

### 49. Kisiler Tablosunda İsimlerin Son Harfini Almak

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# İsimlerin son harfini al (SQLite'ta SUBSTR kullanılır)
cur.execute('SELECT isim, SUBSTR(isim, -1) as son_harf FROM Kisiler')
rows = cur.fetchall()

print("İsimler ve Son Harfleri:")
if rows:
    for row in rows:
        print(f"İsim: {row[0]}, Son Harf: {row[1]}")
else:
    print("Tabloda veri yok.")

conn.close()

İsimler ve Son Harfleri:
İsim: Fatma, Son Harf: a
İsim: Veli, Son Harf: i
İsim: Ayşe, Son Harf: e
İsim: Deniz, Son Harf: z
İsim: Can, Son Harf: n

**Açıklama:** `SUBSTR(isim, -1)` SQLite fonksiyonu, `isim` sütunundaki her bir metnin son karakterini (-1 indeksi ile) alır.

### 50. Kisiler Tablosunda Her Kişinin Adını ve Yaşını Birleştirip Tek Sütunda Göstermek ve Gruplamak

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Kisiler (id INTEGER PRIMARY KEY AUTOINCREMENT, isim TEXT NOT NULL, yas INTEGER)''')
conn.commit()

# Her kişinin adını ve yaşını birleştirip (örneğin 'İsim (Yaş)' formatında)
# bu birleşik bilgiye göre gruplayıp sayısını al
cur.execute('''
    SELECT (isim || ' (' || yas || ')') as kisi_bilgisi, COUNT(*) as sayi
    FROM Kisiler
    WHERE yas IS NOT NULL -- Yaşı olmayanları hariç tut
    GROUP BY kisi_bilgisi
    ORDER BY sayi DESC, kisi_bilgisi ASC
''')
rows = cur.fetchall()

print("Kişi Bilgisi (İsim ve Yaş Birleşik) ve Tekrar Sayıları:")
if rows:
    for row in rows:
        print(f"Bilgi: {row[0]}, Sayı: {row[1]}")
else:
    print("Tabloda uygun veri yok.")

conn.close()

Kişi Bilgisi (İsim ve Yaş Birleşik) ve Tekrar Sayıları:
Bilgi: Ayşe (28), Sayı: 1
Bilgi: Can (25), Sayı: 1
Bilgi: Deniz (27), Sayı: 1
Bilgi: Fatma (25), Sayı: 1
Bilgi: Veli (22), Sayı: 1

**Açıklama:** `isim || ' (' || yas || ')'` ifadesi SQLite'ta metin birleştirme (concatenation) için kullanılır. `isim`, ` (`, `yas` ve `)` metinlerini birleştirerek `kisi_bilgisi` adında yeni bir sanal sütun oluşturur. Daha sonra bu `kisi_bilgisi`'ne göre gruplama yapılır ve her bir benzersiz birleşik bilginin kaç kez geçtiği sayılır. `WHERE yas IS NOT NULL` ile yaşı olmayan kayıtlar (eğer varsa) hariç tutulmuştur.